body{
        overflow: hidden;
        /* max-width: 1200px; */
        max-height: 800px;
        padding: 10px;
        margin: auto;
}
div.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}   
div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 100px;
}
div.container div#mic input[type=text]{
    margin-left: -50px;
    margin-top: -350px;
    width: 400px;
    height: 30px;
    border: 0px;
    box-shadow:grey 0px 0.8px 0px 0.8px;
    background: url("images/googlemic.png") no-repeat scroll right 3px;
}
div.footer{
    width: 100%;
    bottom: 0px;
    position: fixed;
    background: whitesmoke;
    color:rgba(0, 0, 0, 0.5);
    display: 
}